h1{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
}
h1 > div{
text-align: left;
color:white;
font-style: initial;
text-shadow: 10ch;
}
h2{

    
}
img{
    border-radius: 20px;
}
p{
    color: blueviolet;
}