
/*This our navigation bar section and it containts the home, chamber, site plan, survery*/
nav {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

/*--------------------------------------------------------------------------------------------------*/


/*This is our main body and contains the lesson plans and links within a side by side grid*/

.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .grid-container section {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
  



h2, main {
    border-bottom: solid darkgrey;
}

body {
    min-width: 640px;
    max-width: 1200px;
    margin: auto;
    background-color: lightgray;
}

/*--------------------------------------------------------------------------------------------------*/


/*This is our header section it containts the image of me and my name*/
header {
    background-color: navy;
    background-image: linear-gradient(navy, #6564DB);
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
}

header h1 {
    color: blanchedalmond;
    text-align: center;
    font-size: 24px;
}

h1, h2 {
    font-family: 'Merriweather Sans', sans-serif;
}

h2 {
    padding-left: 16px;
}

/*--------------------------------------------------------------------------------------------------*/


/*this is my footer section and it contains the getDate file along with my name and state*/

footer {
    background-color: navy;
    background-image: linear-gradient(#6564DB, navy);
}

footer {
    margin-top: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

footer p {
    color: blanchedalmond;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 10px;
}


.modifieddate {
    color: coral;
}

/*--------------------------------------------------------------------------------------------------*/
